{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{% block title %}eCommerce{% endblock %}</title>

 
  {% include "base/css.html" %}

 
  {% block base_head %}{% endblock %}
</head>
<body>


  {% include "base/navbar.html" with brand_name="eCommerce" %}

  <div class="container mt-4">


    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert">
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}


    {% block content %}{% endblock %}
  </div>


  {% include "base/js.html" %}

 
  {% block javascript %}{% endblock %}
</body>
</html>
